# Anki source files (large, not needed for the web app)
*.apkg
*.csv
*.zip

# Python
__pycache__/
*.pyc
serve.py
*.py

# md/json not necessary for repo
*_reference.md
*_reference.json
textbook_vocab.*